.footer { 
/*border: 1px solid darkblue;*/
display: inline-flex;
width: 100%;    
} 
  
#footerSpace { text-align: center;
/*border: 1px solid blue;*/
border-radius: 30px;
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); -webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/media/stone.jpg');
background-repeat: no-repeat; 
background-size: cover;
margin: .5%;
padding: .5%;
}

.copyright { font-family: 'Slackey', cursive;
/*border: 1px solid midnightblue;*/
}
#copyright { text-align: center; }