.gamePlay {  
    border: 1px solid hotpink;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    background-color: darkred;
    color: hotpink;
    text-align: center;
    font-size: 36px;
    min-height: 200px; max-height: 250px;
    min-width: 200px; max-width: 300px;
    position: fixed;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    
}