.gameOverButton {
    border: 1px solid midnightblue;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: midnightblue;
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 40px;
    min-width: 175px; width: 100%; max-width: 200px;
    text-align: center;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.startButton:hover {
    background: orangered;
}