body {
    font-family: 'Slackey', cursive;
    background-color: black;
    background-size: cover;
    padding: 1%;
}

.startMenu {  
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    background-color: midnightblue;
    color: darkorange;
    text-align: center;
    font-size: 36px;
    min-height: 200px; max-height: 250px;
    min-width: 200px; max-width: 300px;
    position: fixed;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;  
}

.startButton {
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: orange;
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 198px;
    text-align: center;
    position: relative;
    margin: auto;
}
.startButton:hover {color: lime; border: 1px solid lime;
                         text-decoration: none; height: 40px; width: 205px; font-size: 30px;}
                         
.optionsButton {
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: orange;
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 198px;
    text-align: center;
    position: relative;
    margin: auto;
}
.optionsButton:hover {color: yellow; border: 1px solid yellow;
                         text-decoration: none; height: 40px; width: 200px; font-size: 30px;}
                         
.scoreboardButton {
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: orange;
    font-size: 20px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 198px;
    text-align: center;
    position: relative;
    margin: auto;
}
.scoreboardButton:hover {color: orangered; border: 1px solid orangered;
                         text-decoration: none; height: 40px; width: 200px; font-size: 25px;}