.header {
    /*header text*/
    color: white;
    background-color: black;
    opacity: .75;    
    font-size: 40px;
    text-align: center;
    /*block*/
    border: 1px solid white;
    padding: .5%;
    
}
.mainMenu {  
    /*text*/
    color: white;
    font-size: 25px; 
    text-align: center;
    
    /*block*/
    border: 1px solid white;
    background-color: black;
    opacity: .5;
    float: left;
    height: 400px;
    width: 300px;
    margin: 1%;
}

        .login {
            border: 1px solid white;
            margin: 20% 15%;
        }
        .options {
            border: 1px solid white;
            margin: 20% 15%;
        }
        .help {
            border: 1px solid white;
            margin: 20% 15%;
        }

.scoreBoard {    
    /*scoreBoard header-text*/
    color: white;
    font-size: 25px; 
    text-align: center;
    
    /*block*/
    border: 1px solid white;
    background-color: black;
    opacity: .5;
    float: right;
    height: 400px;
    width: 300px;
    margin: 1%;
}

    .topScores {
        /*block*/
        /*border: 1px solid white;*/
        height: 95%;
        
        /*topScores text*/
        color: white;
        font-size: 15px;
    
}