.canvas { font-family: 'Slackey', cursive;
border: 1px solid purple;
min-height: 57.5vh;
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); 
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/media/dirt.jpg');
background-repeat: no-repeat; 
background-size: cover;   
}