.optionsMenu {  
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    background-color: midnightblue;
    color: darkorange;
    text-align: center;
    font-size: 36px;
    min-height: 200px; max-height: 250px;
    min-width: 200px; max-width: 300px;
    position: fixed;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0; 
}

.toggleMusic {
    border: 1px solid midnightblue;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: midnightblue;
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 150px;
    text-align: center;
    position: relative;
    margin: 5% 25%;
}
.toggleMusic:hover {
    color: orangered; border: 1px solid orangered;
}

.toggleSound {
    border: 1px solid midnightblue;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: midnightblue;
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 150px;
    text-align: center;
    margin: 5% 25%;
}

.toggleSound:hover {
    color: orangered; border: 1px solid orangered;
}

.applyButton a{
    border: 1px solid orange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 125px;
    text-align: center;
    position: relative;
    margin: 5% 5% 0 0;
    float: right;
}
.applyButton a:link {color: orange; border: 1px solid orange; text-decoration: none;}
.applyButton a:visited {color: orange; border: 1px solid orange; text-decoration: none;}
.applyButton a:hover {color: orangered; border: 1px solid orangered; text-decoration: none;}
.applyButton a:link {color: orange; border: 1px solid orange; text-decoration: none;}

.backButton {
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: orange;
    font-size: 25px;
    font-family: 'Slackey', cursive;
    height: 35px;
    width: 125px;
    text-align: center;
    margin: 5% 0 0 5%;
    float: left;
}
.backButton:link {color: orange; border: 1px solid orange; text-decoration: none;}
.backButton:visited {color: orange; border: 1px solid orange; text-decoration: none;}
.backButton:hover {color: orangered; border: 1px solid orangered; text-decoration: none;}
.backButton:link {color: orange; border: 1px solid orange; text-decoration: none;}