.PauseMenu {
    border: 1px solid silver;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    background-color: midnightblue;
    color: white;
    text-align: center;
    font-size: 36px;
    min-height: 200px; max-height: 250px;
    min-width: 200px; max-width: 300px;
    position: fixed;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;  
}

.pauseOptionsButton {
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: orange;
    font-size: 30px;
    font-family: 'Slackey', cursive;
    height: 40px;
    width: 175px;
    text-align: center;
    margin: 7.5% 0;
}
.pauseOptionsButton:link {color: orange; border: 1px solid orange; text-decoration: none;}
.pauseOptionsButton:visited {color: orange; border: 1px solid orange; text-decoration: none;}
.pauseOptionsButton:hover {color: yellow; border: 1px solid yellow; text-decoration: none;
                           height: 45px; width: 200px; font-size: 32.5px;}

.pauseHomeButton {
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: orange;
    font-size: 30px;
    font-family: 'Slackey', cursive;
    height: 40px;
    width: 175px;
    text-align: center;
    margin: 7.5% 0;
}
.pauseHomeButton:link {color: orange; border: 1px solid orange; text-decoration: none;}
.pauseHomeButton:visited {color: orange; border: 1px solid orange; text-decoration: none;}
.pauseHomeButton:hover {color: orangered; border: 1px solid orangered; text-decoration: none;
                        height: 45px; width: 200px; font-size: 35px;}