.scoreboard {
    border: 1px solid silver;
    border-radius: 10px;
    background-color: midnightblue;
    font-family: 'Slackey', cursive;
    color: white;
    text-align: center;
    font-size: 36px;
    min-height: 200px; max-height: 500px;
    min-width: 200px; max-width: 300px;
    position: fixed;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
}

.homePageButton{
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Slackey', cursive;
    color: darkorange;
    text-align: center;
    font-size: 15px;
    height: 30px;
    width: 125px;
    margin: 1% 1% 1% 5%;
    float: left;
}
.homePageButton:hover {color: orangered; border: 1px solid orangered; text-decoration: none; 
                  height: 35px; width: 135px; font-size: 20px;}

.optionsPageButton{
    border: 1px solid darkorange;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Slackey', cursive;
    color: darkorange;
    text-align: center;
    font-size: 15px;
    height: 30px;
    width: 125px;   
    margin: 1% 5% 1% 1%;
    float: right;
}
.optionsPageButton:hover {color: orangered; border: 1px solid orangered; text-decoration: none; 
                  height: 35px; width: 130px; font-size: 20px;}
.scoreSheet {
    border: 1px solid silver;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Slackey', cursive;
    color: white;
    text-align: center;
    font-size: 15px;  
    height: 80%;
    min-width: 200px; max-width: 95%; 
    margin: auto;
    bottom: 0;
    overflow-y: auto;
}