.scoreBoard {
    border: 1px solid navajowhite;
    background-color: darkred;
    color: navajowhite;
}

.scoreBoard h1 {
    width: 90%;
    font-size: 15px;
    text-align: center;
    padding: .5%;
    }
    
.scoreBoard p {
    width: 90%;
    font-size: 10px;
    text-align: left;
    padding: .5%;
    }