.gameView { font-family: 'Slackey', cursive;
border: 1px solid purple;
min-height: 850px; height: 97%; 
background-image: url(''); 
background-repeat: no-repeat;
background-size: cover;    
box-shadow: inset 7.5px -7.5px 300px 200px rgba(0,0,0,1);
-webkit-box-shadow: inset 7.5px -7.5px 300px 200px rgba(0,0,0,1);
-moz-box-shadow: inset 7.5px -7.5px 300px 200px rgba(0,0,0,1);
height: 500px; 
    } 