.header { 
/*border: 1px solid darkgreen;*/
}

#headerRow { font-family: 'Slackey', cursive; text-align: center; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
/*border: 1px solid green;*/
display: inline-flex;
height: 150px;
width: 100%;  
}

#headerSpace { font-family: 'Slackey', cursive; text-align: center; font-size: 175%; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
/*border: 1px solid yellowgreen;*/
border-radius: 30px; 
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); -webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/Interface/app/app-images/grey-stone.jpg');
background-repeat: no-repeat; 
background-size: cover;
width: 100%;
margin: .5%;
padding: .5%; padding-top: 5%;
} 
a#headerSpace { color: white; text-decoration: none; } 

.gameIcon { font-family: 'Slackey', cursive; text-align: center; font-size: 500%; text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
/*border: 1px solid yellowgreen;*/
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); -webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/Interface/app/app-images/jungle.jpg');
background-repeat: no-repeat; 
background-size: cover;
min-width: 500px;
min-height: 135px;
margin: .5%;
padding: .5%; padding-top: 2.5%;
}  
.gameIcon a { color: white; text-decoration: none; }