<div id="homePage">
    <div class="startMenu">{{homeHeader}}
        <a href="/#/home">
            <br>

            <!--Start Button-->
            <div>
                <a href="/#/gameplay">
                    <button class="startButton" ng-click="toggle();">{{startGame}}</button>
                </a>
            </div>
            <br>
            
            <!--Options Button-->
            <div>
                <a href="/#/options">
                    <button class="optionsButton" ng-click="toggle();">{{options}}</button>
                </a>
            </div>
        </a>
    </div>
</div>