body {
    font-family: 'Slackey', cursive;
    background-color: darkgreen;
    background-size: cover;
    padding: 1px 0;
    padding-top: 0;
}

.pageTitle {
    /*text*/
    color: darkorange;  
    font-size: 40px;
    text-align: center;
    /*block*/
    border: 1px solid darkorange;
    background-color: darkgreen
    ;
    min-width: 200px; width: 100%; max-width: 2000px;
    padding: .1%;
}

canvas {
    /*block*/
    border: 1px solid darkorange;
    min-height: 200px; height: 100%; max-height: 2000px;
    min-width: 200px; width: 100%; max-width: 2000px;
    margin: .5% .25%; float: left;
}