<div id="pausePage" class="pauseMenu">{{pauseHeader}}
            <br>
            <!--Resume Button-->
            <div>
                    <button class="resumeButton" ng-click="toggle();">{{resume}}</button>
            </div>
            <br>

            <!--Options Button-->
            <div>
                <a href="/#/options">
                    <button class="optionsButton" ng-click="toggle();">{{options}}</button>
                </a>
            </div>

            <!--Quit Button-->
            <div>
                <a href="/#/home">
                    <button class="homeButton" ng-click="toggle();">{{home}}</button>
                </a>
            </div>
        </a>
    </div>
</div>