html { 
/*border: 1px solid rgba(255,0,0,.75);*/
background-color: black;
}
p {
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
    text-align: center;
    font-size: 3.75vw; 
/*border: 1px solid rgba(150,50,0,.75);*/
width: 100%;
line-height: 0;    
 }
.title { 
    font-family: 'Slackey', cursive; 
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
    color: rgb(255,255,255); 
    text-align: center;
    font-size: 5vw;
/*border: 1px solid rgb(255,255,0);*/
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); 
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/media/jungle.jpg');
background-repeat: no-repeat; 
background-size: cover;
width: 100%;
height: 12.5vh;
margin: auto;
}
.margin {    
    font-family: 'Slackey', cursive; 
    text-align: center; 
    text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
/*border: 1px solid rgb(0,255,0);*/
display: inline-flex;
width: 100%;  
}
.button { 
    font-family: 'Slackey', cursive;
    color: rgba(0,0,0,.675);
    text-shadow: 0px .25vh .05vw rgba(250, 250, 200,.75);
    text-decoration: none;
    font-size: 2.5vw;
/*border: 1px solid rgb(0,150,0);*/
border-radius: 1.25vw; 
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); 
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/media/stone.jpg');
background-repeat: no-repeat; 
background-size: cover;
height: 10vh;
width: 100%;
padding-top: 2.5vh;
margin: .5%;
}
a.button:hover { 
    color: rgba(255,255,255,1);  
    text-shadow: -4px 4px 2px rgba(0, 0, 0, 1);
    text-decoration: none; 
}
.backDrop { 
    font-family: 'Slackey', cursive;
/*border: 1px solid rgb(0,0,255);*/
min-height: 57.5vh;
width: 100%;
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); 
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/media/dirt.jpg');
background-repeat: no-repeat; 
background-size: cover;   
}
.copyright { 
    font-family: 'Slackey', cursive;
    text-align: center; 
    color: rgb(255,255,255);
/*border: 1px solid rgba(0,0,255,.5);*/
}
.optMod { 
    font-family: 'Slackey', cursive;
/*border: 1px solid rgba(0, 150, 255,.25);*/
border-radius: 1.25vw;
background-image: url('/media/stone.jpg');
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); 
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
height: 50vh;top:calc(30vh);
width: 50vh;
background-repeat: no-repeat;
background-size: cover;
position: absolute;left:0;right:0;
margin: auto;   
}
.optButton {   
    font-family: 'Slackey', cursive; 
    color: rgba(0,0,0,.675);
    text-shadow: 0px .25vh .05vw rgba(250, 250, 200,.75);
    font-size: 2.5vw;
/*border: 1px solid rgba(0,0,255,1);*/
border: 1px solid rgba(0,0,0,0);
background-color: rgba(0,0,0,0);
height: 7.5vh;
width: 100%;
margin: 3.75vh auto;
}
.optButton:hover { 
    color: rgba(175,25,0,.75);
    text-shadow: 0px .25vh .05vw rgba(250, 250, 200,.75);
} 
.score { 
    font-family: 'Slackey', cursive;
    font-size: 2.5vw;
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
    text-align: center;
border: 1px solid rgba(0, 150, 255,1);
border-radius: 1.25vw;
height: 57.5vh;
width: 57.5vh; /*
-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
background-color: rgba(0,0,0,.5); */
overflow-y: auto;
margin: auto;   
}
.scoreRow {
border: 1px solid rgba(0, 150, 255,.75);
border-radius: .75vw;
display: inline-flex;
width: 100%;
}
.scoreCol {
border: 1px solid rgba(0, 150, 255,.25);
border-radius: .5vw;
max-height: 200px;
width: 100%;
}
.game { 
/*border: 1px solid rgba(150,0,250,1);*/
height:57.5vh;
width: 57.5vh;
-webkit-box-shadow: 0px 0px 2.5vw 1.25vw rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2.5vw 1.25vw rgba(0,0,0,0.75);
box-shadow: 0px 0px 2.5vw 1.25vw rgba(0,0,0,0.75);
background-color: rgba(0,0,0,.75);
margin: auto; left:0;right:0; 
}
.psMod {    
    font-family: 'Slackey', cursive;
    font-size: 5vw;
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,.25);
    text-align: center;
height:57.5vh;
width: 57.5vh;
-webkit-box-shadow: 0px 0px 2.5vw 1.25vw rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 2.5vw 1.25vw rgba(0,0,0,0.25);
box-shadow: 0px 0px 2.5vw 1.25vw rgba(0,0,0,0.25);
background-color: rgba(0,0,0,.25);
padding-top: 25vh;
margin: auto;
}
.psTxt {     
    font-family: 'Slackey', cursive; 
    color: rgba(0,0,0,.675);
    text-shadow: 0px .25vh .05vw rgba(250, 250, 200,.75);
    font-size: 2.5vw; 
    }
.psTxt:hover { 
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
}
.goMod{
    font-family: 'Slackey', cursive;
    font-size: 2.5vw;
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
    text-align: center;
display: none;
/*border: 4px solid rgba(0,255,0,1);*/
border-radius: 1.25vw; 
box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1); 
-webkit-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -5px 30px 15px rgba(0,0,0,1);
background-image: url('/media/stone.jpg');
background-repeat: no-repeat; 
background-size: cover;
height: 28.75vh;
width: 57.5vh;
position: absolute;
overflow-y: auto;
margin: auto;top:10.625vh;right:0;bottom:0;left:0;        
}

.goText {
    font-family: 'Slackey', cursive;
    font-size: 2.5vw;
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
    text-align: center;
/*border: 1px solid rgb(255,0,0); */
margin: auto;
}
.goSubmit {
    font-family: 'Slackey', cursive;
    font-size: 2.5vw;
    color: white;
    text-shadow: -4px 4px 2px rgba(0,0,0,1);
    text-align: center;  
border-radius: .5vw;    
border: 1px solid rgba(0,0,0,0);    
border-bottom: 1px solid rgba(255,255,200,.5);    
-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.75);
background-color:rgba(0, 0, 0,.5);    
height: 10vh;
width: 75%;
}