i.fa {
        display: inline;
}
.icons {
    width: 100%;
    height: 100%;
    text-align: center;
}
.fa-facebook-official {
    color: darkorange;
    font-size: 25px;
	width: 100%;
    height: 15px;
    opacity: .5;
}
.fa-facebook-official:hover {color: royalblue; text-decoration: none; font-size: 30px;}

.fa-twitter {
    color: darkorange;
    font-size: 25px;
	width: 100%;
    height: 15px;
    opacity: .5;
}
.fa-twitter:hover {color: skyblue; text-decoration: none; font-size: 30px;}

.fa-instagram {
    color: darkorange;
    font-size: 25px;
	width: 100%;
    height: 15px;
    opacity: .5;
}
.fa-instagram:hover {color: tan; text-decoration: none; font-size: 30px;}

.fa-vine {
    color: darkorange;
    font-size: 25px;
	width: 100%;
    height: 15px;
    opacity: .5;
}
.fa-vine:hover {color: springgreen; text-decoration: none; font-size: 30px;}

.fa-soundcloud {
    color: darkorange;
    font-size: 25px;
	width: 100%;
    height: 15px;
    opacity: .5;
}
.fa-soundcloud:hover {color: orangered; text-decoration: none; font-size: 30px;}

.fa-linkedin-square {
    color: darkorange;
    font-size: 25px;
	width: 100%;
    height: 15px;
    opacity: .5;
}
.fa-linkedin-square:hover {color: midnightblue; text-decoration: none; font-size: 30px;}

