<div class="title">SNAKE BYTES</div>

<div class="margin">
    <a class="button"></a>
    <a class="button" ng-click="optToggle()">PAUSE</a>
    <a class="button" href="/#/score">LEAVE GAME</a>
    <a class="button"></a>
</div>

<div class="canvas">

    <div class="optModal" ng-if="optMenu">
        <p>OPTIONS</p>
        <button class="optButton">MUSIC</button>
        <button class="optButton">SOUND</button>        
    </div>
    
</div>

<div class="margin">
    <div class="button">L</div>
    <div class="button">U</div>
    <div class="button">D</div>
    <div class="button">R</div>
</div>


<div class="copyright">&#169{{date}} @PHILLIPPUCKETT88</div>