<div class="container">
    <div class="title">SNAKE BYTES</div>

    <!--MENU-->
    <div class="margin">
        <a class="button">
            <div ng-if="!pauseGame">PAUSE</div>
            <div ng-if="pauseGame">RESUME</div>
        </a>
        <a class="button"></a>
        <a class="button"></a>
    </div>
    <!--MENU-->

    <!--GAME-->
    <div class="bg">
        <div class="game">
            <div class="psMod">PAUSED</div>
            <canvas id="canvas" class="game"></canvas>
        </div>

        <form ng-controller="mainCtrl">
            <div class="scoreSubmit">
                GAME OVER
                <input type="text" class="player">
        </form>
        
        </div>
    </div>
    <!--GAME-->
    

</div>