<div id="header">
    <a id="headerButton" ng-click="optToggle()">OPTIONS</a>
    <a id="headerButton" href="/#/score">SCOREBOARD</a>
    <a id="headerButton" href="/#/game">PLAY GAME</a>
</div>

<div class="canvas"></div>

<div class="footer">
    <div class="footerButton"></div>
    <div class="footerButton"></div>
    <div class="footerButton"></div>
</div>

<div class="optModal" ng-if="optMenu">
    <p>OPTIONS</p>
        <button class="optButton" ng-click="optToggle();">RESUME GAME</button>
</div>