<div class="container">
    <div class="title">SNAKE BYTES</div>

    <!--MENU-->
    <div class="margin">
        <a class="button"></a>
        <a class="button" href="/#/game">PLAY</a>
        <a class="button"></a>
    </div>
    <!--MENU-->

    <!--SCOREBOARD-->
    <div class="bg">
        <div class="score">
            <div class="srow">
            </div>
            <div class="srow">
                <div class="scol">Names</div>
                <div class="scol">Points</div>
            </div>
        </div>
        <!--SCOREBOARD-->

        <!--OPTIONS-->
        <div class="optMod" ng-if="optionsGame">
            <p class="optmodal">OPTIONS</p>
            <button class="optButton">MUSIC</button>
            <button class="optButton">SOUND</button>
        </div>
    </div>
    <!--OPTIONS-->

    <!--BUTTONS-->
    <div class="margin">
        <div class="button"></div>
        <a class="button" ng-click="options()">OPTIONS</a>
        <div class="button"></div>
    </div>
    <!--BUTTONS-->

    <div class="copyright">&#169{{date}} PHILLIP PUCKETT</div>

</div>