<div class="titleMobile">
    <p class="titleText">SNAKE</p>
</div>

<div class="titleDesktop">
    <p class="titleText">SNAKE</p>
    <p class="copyrightDesktop">&#169{{date}} PHILLIP E PUCKETT</p>
</div>



<div class="marginMobile">
    <a class="button"></a>
    <a class="button" href="/#/game">
        <p>PLAY</p>
    </a>
    <a class="button"></a>
</div>



<div class="background">
    <div id="score" class="score">
        <div class="srow">
            <div class="scol">Names</div>
            <div class="scol">Points</div>
        </div>
    </div>
</div>



<div class="marginMobile">
    <div class="button"></div>
    <a class="button" ng-click="options()">
        <p>OPTIONS</p>
    </a>
    <div class="button"></div>
</div>



<div class="copyrightMobile">&#169{{date}} PHILLIP E PUCKETT</div>

<div class="marginDesktop" ng-keypress="onKeypress($event)" tabindex="0">
    <a class="button" ng-click="play()">Enter = Start Game</a>
    <a class="button" ng-click="options()">O = Game Options</a>
</div>